<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>TechClub</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/foundicons.css">
  <link rel="stylesheet" href="stylesheets/foundicons_ie7.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <script src="javascripts/modernizr.foundation.js"></script>
</head>
<body>

  <div class="row">
    <div class="three columns">
      <h1>TechClub</h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
        <li><a href="#about" class="more-info-link scroll">Sobre</a></li>
        <li><a href="http://forum.techclub.us">Fórum</a></li>
        <li><a href="#contact" class="scroll">Contato</a></li>
      </ul>
    </div>
  </div>

  <div id="about">
    <div class="row">
      <div class="twelve columns">
        <h2>
          Aprenda melhor, de forma colaborativa!
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h4 class="subheader">
          O TechClub tem por objetivo unir pessoas que buscam conhecimentos semelhates para se ajudarem, facilitando o caminho e acelerando o processo.
        </h4>

        <div class="more-info">
          <p>
            A ideia do TechClub veio observando as facilidades de aprendizado quando estamos trabalhando em times.
          </p>

          <p>
            Costumamos trabalhar em equipes em nossos "jobs", por que não fazer o mesmo em nossas pesquisas, estudos, em codificação Open Source, etc.?
          </p>

          <p>
            Usamos como principal local de comunicação o fórum. Nele, é feito a organização de grupos de estudo, book club, trabalho em cima de OpenSource, publicação de dicas, links, etc.
          </p>

          <h5>
            Segue abaixo alguns pontos que queremos focar inicialmente no TechClub:
          </h5>

          <h6>Grupos de Estudo</h6>

          <p>
            Falamos acima como funciona bem o uso de trabalho em equipe no dia-a-dia nas empresas onde trabalhamos. Pair programming por exemplo, é uma das melhorar formas de trocar conhecimento. Vamos trazer essas vantagens para o estudos no que temos interesse e deixar os momentos de aprendizados mais excitantes e produtivos.
          </p>

          <h6>Book Club</h6>

          <p>
            Acreditamos que a leitura de livros por várias pessoas e com uma discussão boa final, faz o conhecimento se consolidar, além de motivar a leitura por si só.
          </p>

          <h6>OpenSource</h6>

          <p>
            Muitas vezes, sozinhos, ficamos perdidos por onde começar no mundo OpenSource. Ter pessoas com o mesmo interesse, pode deixar o caminho mais tranquilo e motivador.
          </p>

          <p>
            Se gostou da nossa ideia, cadastre-se no nosso fórum e nos ajude a formar um verdadeiro Clube, onde a colaboração e ajuda mútua vém para nos melhorar.
          </p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <a class="more-button info-toggler radius button right scroll" href="#about">Mais informações</a>
        <a class="less-button info-toggler radius button right scroll" href="#about">Menos informações</a>
        <hr />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="four columns">
      <div class="communication">
        <h4><i class="foundicon-idea"></i> Fórum</h4>

        <p>
          Troca de ideias de forma assíncrona.
        </p>
      </div>

      <a class="radius button left" href="http://forum.techclub.us">Junte-se a nós</a>
    </div>

    <div class="four columns">
      <div class="communication">
        <h4><i class="foundicon-chat"></i> IRC</h4>

        <p>
          Bate-papo escrito síncrono.
        </p>

        <p>
          <strong>Servidor:</strong> chat.freenode.net
        </p>

        <p>
          <strong>Canal:</strong> #techclub-br
        </p>
      </div>

      <a class="radius button left" href="http://en.wikipedia.org/wiki/Internet_Relay_Chat">O que é IRC?</a>
    </div>

    <div class="four columns">
      <div class="communication">
        <h4><i class="foundicon-mic"></i> Mumble</h4>

        <p>
          Bate-papo por voz.
        </p>

        <p>
          <strong>Servidor:</strong> voz.agora.cc:11111
        </p>

        <p>
          <strong>Canal:</strong> Projetos > TechClub
        </p>
      </div>

      <a class="radius button left" href="http://mumble.sourceforge.net/">O que é Mumble?</a>
    </div>
  </div>

  <div id="contact" class="row">
    <div class="twelve columns">
      <div class="panel">
        <h4><i class="foundicon-mail"></i> Entre em contato conosco!</h4>

        <p>
          Nós adoraríamos ouvir sua opinião sobre o TechClub ou responder a qualquer dúvida.
        </p>

        <p>
          No <a href="http://forum.techclub.us">fórum</a>, temos a categoria <a href="http://forum.techclub.us/category/meta">META</a> para assuntos relacionados ao próprio TechClub. O que você procura, pode estar lá. Sinta-se a vontade para escrever também.
        </p>

        <p>
          Se preferir, nos mande um <a href="mailto:contact@techclub.us">email</a>.
        </p>
      </div>
    </div>
  </div>

  <footer class="row">
    <div class="text-center twelve columns">
      <hr />
      <p>&copy; Copy whatever you want.</p>
    </div>
  </footer>

  <!-- Initialize JS Plugins -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/app.js"></script>
</body>
</html>
