/* general icons for IE7 */
[class*="foundicon-"] {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
}

.foundicon-idea {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf022;");
}

.foundicon-mic {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf023;");
}

.foundicon-mail {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf007;");
}

.foundicon-chat {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf018;");
}
